In [2]:
import pandas as pd
import numpy as np

In [13]:
##loading in data
df = pd.read_csv("weatherstats_kelowna_daily.csv")
df

,date,max_temperature,avg_hourly_temperature,avg_temperature,min_temperature,max_humidex,min_windchill,max_relative_humidity,avg_hourly_relative_humidity,avg_relative_humidity,...,avg_cloud_cover_4,min_cloud_cover_4,max_cloud_cover_8,avg_hourly_cloud_cover_8,avg_cloud_cover_8,min_cloud_cover_8,max_cloud_cover_10,avg_hourly_cloud_cover_10,avg_cloud_cover_10,min_cloud_cover_10
0,2021-07-16,32.4,24.28,23.40,14.4,32.0,NaN,62.0,35.9,41.5,...,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-07-15,31.6,25.70,24.95,18.3,33.0,NaN,53.0,31.7,38.0,...,1.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-07-14,36.3,26.42,24.95,13.6,35.0,NaN,69.0,32.3,40.5,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-07-13,35.7,24.52,23.80,11.9,34.0,NaN,65.0,37.2,39.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-07-12,34.6,24.88,23.55,12.5,34.0,NaN,71.0,36.5,43.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2007-11-12,10.7,8.49,8.44,6.2,NaN,NaN,83.0,49.3,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4996,2007-11-11,8.9,5.22,4.65,0.4,NaN,-1.0,84.0,60.0,62.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4997,2007-11-10,12.2,6.25,8.80,5.4,NaN,-1.0,93.0,67.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4998,2007-11-09,10.8,6.90,6.75,2.7,NaN,NaN,99.0,87.2,84.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4999,2007-11-08,6.3,4.74,3.40,0.5,NaN,NaN,97.0,94.0,91.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
## Isolating relavant information
df1 = df.drop(columns=['max_humidex', 'min_windchill','max_relative_humidity','avg_hourly_relative_humidity','avg_relative_humidity','avg_cloud_cover_4',
                       'min_cloud_cover_4','max_cloud_cover_8','avg_hourly_cloud_cover_8','avg_cloud_cover_8','min_cloud_cover_8','max_cloud_cover_10',
                       'avg_hourly_cloud_cover_10','max_wind_speed','avg_hourly_wind_speed','avg_wind_speed','min_wind_speed','max_wind_gust','daylight','sunrise_f','sunset_f'
                        ,'avg_cloud_cover_10','avg_cloud_cover_10','min_cloud_cover_10','min_relative_humidity',
                       'max_dew_point','avg_hourly_dew_point','avg_dew_point','min_dew_point','max_cloud_cover_4','avg_hourly_cloud_cover_4',
                      'wind_gust_dir_10s','max_pressure_sea','avg_hourly_pressure_sea','avg_pressure_sea','min_pressure_sea',
                      'max_pressure_station','avg_hourly_pressure_station','avg_pressure_station','min_pressure_station',
                       'max_visibility','avg_hourly_visibility','avg_visibility','min_visibility','max_health_index',
                      'avg_hourly_health_index','avg_health_index','min_health_index','heatdegdays','cooldegdays','growdegdays_5','growdegdays_7','growdegdays_10',
                      'min_uv_forecast','max_uv_forecast','min_high_temperature_forecast','max_high_temperature_forecast','min_low_temperature_forecast','max_low_temperature_forecast'])
df1

,date,max_temperature,avg_hourly_temperature,avg_temperature,min_temperature,precipitation,rain,snow,snow_on_ground,sunrise,sunset,solar_radiation
0,2021-07-16,32.4,24.28,23.40,14.4,0.0,NaN,NaN,NaN,05:07:00,21:01:00,NaN
1,2021-07-15,31.6,25.70,24.95,18.3,0.0,NaN,NaN,NaN,05:06:00,21:02:00,NaN
2,2021-07-14,36.3,26.42,24.95,13.6,0.0,NaN,NaN,NaN,05:05:00,21:02:00,NaN
3,2021-07-13,35.7,24.52,23.80,11.9,0.0,NaN,NaN,NaN,05:04:00,21:03:00,NaN
4,2021-07-12,34.6,24.88,23.55,12.5,0.0,NaN,NaN,NaN,05:03:00,21:04:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2007-11-12,10.7,8.49,8.44,6.2,1.4,1.4,0.0,0.0,NaN,NaN,NaN
4996,2007-11-11,8.9,5.22,4.65,0.4,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4997,2007-11-10,12.2,6.25,8.80,5.4,2.8,2.8,0.0,0.0,NaN,NaN,NaN
4998,2007-11-09,10.8,6.90,6.75,2.7,0.6,0.6,0.0,0.0,NaN,NaN,NaN
4999,2007-11-08,6.3,4.74,3.40,0.5,3.8,3.8,0.0,0.0,NaN,NaN,NaN